*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "Inter";
  src: url("/fonts/InterVariable.woff2") format("woff2");
  font-weight: 400 700;
  font-display: swap;
}

:root {
  color-scheme: light dark;
  --color-gray-300: oklch(92.8% 0.006 264.531);
  --color-gray-400: oklch(87.2% 0.01 258.338);
  --color-stone-300: oklch(92.3% 0.003 48.717);
  --color-stone-400: oklch(86.9% 0.005 56.366);
  --color-stone-500: oklch(70.9% 0.01 56.259);
  --color-stone-800: oklch(21.6% 0.006 56.043);
  --color-stone-900: oklch(14.7% 0.004 49.25);
  --color-zink-900: oklch(14.1% 0.005 285.823);
  --color-taupe-300: oklch(92.2% 0.005 34.3);
  --color-taupe-400: oklch(71.4% 0.014 41.2);
  --color-olive-400: oklch(88% 0.011 106.6);
  --color-orange-400: oklch(83.7% 0.128 66.29);
  --bg: light-dark(#fff, var(--color-zink-900));
  --muted: light-dark(#555, #a3aab5);
  --link: light-dark(#2563eb, #7aa2ff);
  --green: light-dark(#16a34a, #4ade80);
  --border: light-dark(#e5e7eb, #1e293b);
  --prose-color: light-dark(#24293e, var(--color-taupe-400));
  --prose-heading-color: light-dark(#24293e, var(--color-taupe-300));
}

.color-scheme--dark {
  color-scheme: dark;
}
.color-scheme--light {
  color-scheme: light;
}

body {
  font-family: "Inter", system-ui, sans-serif;
  background: var(--bg);
  color: var(--prose-color);
  line-height: 1.6;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}


.container {
  max-width: 700px;
  margin: 0 auto;
  padding: 0 20px;
}

h1 {
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 20px;
}
